<footer class="bg-dark pt-5">
    <div class="px-lg-3 pt-2 pb-4">
        <div class="mx-auto px-3" style="max-width: 80rem;">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-sm-4 pb-2 mb-4">
                    <div class="mt-n1">
                        <img class="d-block mb-4" width="150" src="~/Images/Logo/logo.png" alt="Market" />
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-4">
                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">О компании</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-item" style="color:aliceblue" href="/Home/About">О нас</a></li>
                            <li class="widget-list-item"><a class="widget-list-item" style="color:aliceblue" href="/Home/News">Новости</a></li>
                            <li class="widget-list-item"><a class="widget-list-item" style="color:aliceblue" href="/Home/Vacancies">Вакансии</a></li>
                            <li class="widget-list-item"><a class="widget-list-item" style="color:aliceblue" href="/Home/Contacts">Контакты</a></li>                       
                        </ul>
                    </div>
                    <div class="widget widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Мы в социальных сетях</h3>
                        <a class="social-btn sb-light sb-odnoklassniki mr-2 mb-2" href="#"><i class="czi-odnoklassniki"></i></a>
                        <a class="social-btn sb-light sb-vk mr-2 mb-2" href="#"><i class="czi-vk"></i></a>
                        <a class="social-btn sb-light sb-instagram mr-2 mb-2" href="#"><i class="czi-instagram"></i></a>
                        <a class="social-btn sb-light sb-youtube mr-2 mb-2" href="#"><i class="czi-youtube"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-8">
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">Подписаться на новости</h3>
                        <form class="validate" action="https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126&amp;c=?" method="get" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form">
                            <div class="input-group input-group-overlay flex-nowrap">
                                <div class="input-group-prepend-overlay"><span class="input-group-text text-muted font-size-base"><i class="czi-mail"></i></span></div>
                                <input class="form-control prepended-form-control" type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="Your email" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe">Подписаться*</button>
                                </div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                            </div><small class="form-text text-light opacity-50" id="mc-helper">*Подписаться на нашу новостную рассылку чтобы получать информацию о текущих акциях и новинках.</small>
                            <div class="subscribe-status"></div>
                        </form>
                    </div>
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">Скачать приложение</h3>
                        <div class="d-flex flex-wrap">
                            <div class="mr-2 mb-2"><p class="btn-market btn-apple" role="button"><span class="btn-market-subtitle">In process for</span><span class="btn-market-title">App Store</span></p></div>
                            <div class="mb-2"><p class="btn-market btn-google" role="button"><span class="btn-market-subtitle">In process for</span><span class="btn-market-title">Google Play</span></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-darker px-lg-3 py-3">
        <div class="d-sm-flex justify-content-between align-items-center mx-auto px-3" style="max-width: 80rem;">
            <div class="font-size-xs text-light opacity-50 text-center text-sm-left py-3">© No rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Krugliy</a></div>
            <div class="py-3">
                <img class="d-block mx-auto mx-sm-left" width="90" src="~/Images/Cards/cards-alt.png" alt="Payment methods" />
            </div>
        </div>
    </div>
</footer>